
<h4 class="bg-info text-info">Pattern Elements</h4>

<div>
  <div class="col-xs-12 col-md-6">
  </div>
  <div class="col-xs-12 col-md-6">
    {{view 'select' content=availablePatterns
                    value=selectedPatternId
                    prompt='compare to:'
                    optionValuePath='content.id'
                    optionLabelPath='content.name'
                    class='form-control'}}
  </div>
</div>

<!-- definitions -->
<div class="col-xs-12 col-md-6">
  <ul class="list-group">
    {{#each definition in currDefinitions}}
      <li class="list-group-item">
        <b>{{definition.term}}</b>: {{definition.text}}
      </li>
    {{/each}}
  </ul>
</div>

<!-- definitions -->
<div class="col-xs-12 col-md-6">
  <ul class="list-group compare_to">
    {{#each definition in selectedPattern.definitions}}
      <li class="list-group-item">
        <b>{{definition.term}}</b>: {{definition.text}}
      </li>
    {{/each}}
  </ul>
</div>
