
{{#tabbed-drawer}}
  <h5 class="text-center">Technologies</h5>
  {{view 'master-overlay-checkbox'}}
{{/tabbed-drawer}}

<!-- Tree drawn with SVG -->
<div class="mvc_tree_wrapper_scroll">
  <div class="mvc_tree_wrapper">
    {{view 'svg'}}
  </div>
</div>

<br>

<div class="container">
  <!-- List of all the nodes with their descriptions. -->
  {{#each node in gridNodes}}
    <div id="{{unbound node.id}}" class="row text_box_info">
      
        <div class="panel {{if node.author 'panel-primary' 'panel-info'}}">

          <div class="panel-heading">
            <!-- title -->
            <h3 class="panel-title">{{node.year}} {{node.name}}</h3>

            <div class="pull-right button_top">
              <a href="#top">
                <span class="glyphicon glyphicon-triangle-top"
                      aria-hidden="true"></span>
              </a>
            </div>
          </div><!-- panel-heading -->

          <div class="panel-body">
            <!-- template -->
              {{partial node.template}}
            

            {{#if node.definitions}}
              {{definitions-showcase currPatternId=node.id
                                     currDefinitions=node.definitions
                                     allPatterns=model.dpatterns}}
            {{/if}}
          </div><!-- panel-body -->
        </div><!-- panel -->
    
    </div><!-- row -->
  {{/each}}
</div>

