{{#tabbed-drawer}}
  {{view 'master-overlay-checkbox'}}
{{/tabbed-drawer}}

<!-- Tree drawn with SVG -->
<div class="mvc_tree_wrapper_scroll">
  <div class="mvc_tree_wrapper">
    {{root-svg model=model gridNodes=gridNodes}}
  </div>
</div>

<br>

<div class="container">
  <!-- List of all the nodes with their descriptions. -->
  {{#each gridNodes as |node|}}
    <div id="{{unbound node.id}}" class="row text_box_info"
         itemscope itemtype="http://schema.org/WebPageElement">
      
        <div class="panel {{if node.author 'panel-primary' 'panel-info'}}">

          <div class="panel-heading">
            <!-- title -->
            <h3 class="panel-title" itemprop="headline">
              {{node.year}} {{node.name}}
            </h3>

            <div class="pull-right button_top">
              <a href="#top">
                <span class="glyphicon glyphicon-triangle-top"
                      aria-hidden="true"></span>
              </a>
            </div>
          </div><!-- panel-heading -->

          <div class="panel-body">
            <!-- template -->
            <div itemprop="text">
              {{partial node.template}}
            </div>

            {{#if node.definitions}}
              <div itemscope itemtype="http://schema.org/Table">
                {{definitions-showcase currPatternId=node.id
                                       currDefinitions=node.definitions
                                       allPatterns=model.dpatterns}}
              </div>
            {{/if}}
          </div><!-- panel-body -->
        </div><!-- panel -->
    
    </div><!-- row -->
  {{/each}}
</div>

